.dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: rgb(225, 225, 225);
  }
  
  .overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .overview-card {
    background: rgb(58, 57, 57);
    padding: 20px;
    color: rgb(225, 225, 225);
    border-radius: 8px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
  }
  
  .charts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .chart-container {
    background: #000;
    color: #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
  }
  
  .recent-transactions {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .recent-transactions ul {
    list-style: none;
    padding: 0;
  }
  
  .recent-transactions li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .saving-goals {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
  }
  
  .goal {
    margin-bottom: 15px;
  }
  
  .progress-bar {
    background: #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 10px;
  }
  
  .progress {
    background: #36A2EB;
    height: 100%;
  }